
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.container {
    padding:1rem;
}

.clear-filter {
    font-weight: bolder !important;
}

form {
    width: 100%;

    @include desktop {
        width: 500px;
    }

    .book-search {
        padding: 1rem 1.5rem;

        &::placeholder {
            font-size: 0.85rem;
        }
    }

    .search-icon {
        padding-right: 2rem;
        background: url("/assets/search.svg") no-repeat;
        background-position: calc(100% - 10px) center; /* Adjust 10px as needed */
        background-size: 2rem;
    }
}

.filters {
    font-weight: 700;
}

.books-view {
    @include desktop {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.sidebar-wrapper {
    height: 100%;
}


.theme-dark .books-view {
    .intro-text {
        color: $light-200-color;
    }
    form {
        .book-search::placeholder {
            color: $neutral-500-color;
        }
        .search-icon {
            background-color: $light-200-color;
        }
    }
}
.theme-light .books-view {
    .intro-text {
        color: $dark-900-color;
    }
    form {
        .book-search::placeholder {
            color: $neutral-500-color;
        }
        .search-icon {
            background-color: $light-200-color;
        }
    }
    .dropdown button {
        color: $dark-900-color;
        text-decoration: none;
    }
}
