<div class="theme-{{theme$|async}}">
    <div class="container container-wide flex-column align-items-center">
        <div class="d-flex flex-row justify-content-end">
        </div>
        
        <div class="w-100 books-view">
            <!-- Desktop only Filter sidebar -->
            <div *ngIf="isDesktop" class="sidebar-wrapper">
                <div class="sidebar">
                    <app-books-desktop-filter></app-books-desktop-filter>
                </div>
            </div>
    
            <div id="content" class="h-100 ms-0 ms-lg-5">
                <div class="d-lg-none mb-1 mb-md-5 d-flex flex-row justify-content-between">
                    <h1 class="">Boeken</h1>
                    <button *ngIf="showAddBooks" class="m-2 btn btn-primary d-none d-md-block" context="primary" routerLink="toevoegen">+ Nieuw boek</button>    
                </div>
    
                <div *ngIf="!isDesktop" class="d-flex flex-column mb-5">
                    <app-books-mobile-filter></app-books-mobile-filter>
                </div>
    
                <div *ngIf="isDesktop" class="d-flex flex-row justify-content-between align-items-center">
                    <div>
                        <ng-container *ngIf="bookCount$ | async as bookCount">
                            <span class="intro-text" *ngIf="!filter.searchValue && !filter.tagIds && bookCount > 0">
                                {{this.labels.bookListLead}}
                            </span>
                        </ng-container>
                        
                        <span *ngIf="!!filter.searchValue">{{ bookCount$ | async }} zoekresultaten voor "<span class="filters">{{ filter.searchValue }}</span>".</span><br>
                        <span *ngIf="!!tagFilters.length">Jouw filters: <span class="filters">{{ tagFilters }}</span>.</span>
                        <span *ngIf="!!tagFilters.length && !filter.searchValue">{{ bookCount$ | async }} resultaten voor <span class="filters">{{ tagFilters }}</span>.</span>
                    </div>

                    <div ngbDropdown class="dropdown d-inline-block">
                        <button type="button" class="btn btn-link" id="dropdownBasic1"  ngbDropdownToggle>
                            Sorteer: {{ currentSortNl() }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="changeSort('new')">Nieuw</button>
                            <button ngbDropdownItem (click)="changeSort('relevance')">Relevantie</button>
                            <button ngbDropdownItem (click)="changeSort('title')">Titel</button>
                        </div>
                    </div>
                </div>
                <app-books-list></app-books-list>
            </div>
        </div>
        
    </div>
</div>
