<button 
    type="button" class="btn btn-{{ size }} btn-{{ context }}" [class.w-100]="fluid" (click)="onClick($event)"
    [ngStyle]="styles" [disabled]="disabled" [class.active]="active"
>
    <div *ngIf="loading">
        <ui-svg name="loader" [spin]="true"></ui-svg>
    </div>
    <ng-content *ngIf="!loading"></ng-content>
</button>