@import "../../../../../assets/scss/variables";

form {
    width: 100%;

    .book-search {
        padding: 1rem 1.5rem;

        &::placeholder {
            color: $neutral-500-color;
            font-size: 0.85rem;
        }
    }

    .search-icon {
        padding-right: 2rem;
        background: url("/assets/search.svg") no-repeat;
        background-position: calc(100% - 10px) center;
        background-color: $light-200-color;
        background-size: 2rem;
    }
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.active-filters {
    font-weight: 800;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100vw;
    z-index: 10;
    overflow: hidden;

    .close-wrapper {
        padding: 1rem;
    }

    .collapse-content {
        white-space: nowrap;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .filters {
            height: 100%;
            overflow-y: auto;
            flex-grow: 1;
        }
    }
    
    .submit-button {
        margin-top: 1rem;
    }

    .form-check {
        padding: 0.65rem 1.5rem;
        width: 100%;
    }

    .form-check-label {
        width: 100%;
    }
}

.accordion {
    width:100%;
}
.accordion-item {
    &:first-of-type > .accordion-header .accordion-button,
    &:last-of-type,
    &:last-of-type > .accordion-header .accordion-button
    {
        border-radius: 0;
    }
}

.theme-dark {
    .book-count {
        color: $light-400-color;
    }
}
.theme-light {
    .book-count {
        color: $neutral-600-color;
    }

}