<div class="view theme-{{theme$|async}}">
    <div class="menu">
        <ul class="nav" id="bookManagementTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="hidden-books-tab" data-bs-toggle="tab"
                    data-bs-target="#hidden-books" type="button" role="tab" aria-controls="hidden-books"
                    aria-selected="true">Verborgen boeken</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="nocover-tab" data-bs-toggle="tab" data-bs-target="#nocover" type="button"
                    role="tab" aria-controls="nocover" aria-selected="false">Boeken zonder afb</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="newbook-tab" data-bs-toggle="tab" data-bs-target="#newbook" type="button"
                    role="tab" aria-controls="newbook" aria-selected="false">Nieuw boek</button>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="bookManagementTabContent">
        <div class="tab-pane fade show active" id="hidden-books" role="tabpanel" aria-labelledby="hidden-books-tab">
            <div class="d-flex flex-column gap-2">
                <div *ngIf="!hiddenBooks || hiddenBooks?.length === 0">
                    Momenteel staat er geen enkel boek verborgen.<br>
                    Ga naar de Edit pagina van een boek om dit te doen.
                </div>
                <div *ngIf="!!hiddenBooks && hiddenBooks.length > 0">
                    De volgende boeken staan verborgen.<br>
                    Dit wil zeggen dat deze niet verschijnen in het overzicht, en ook niet zichtbaar zijn voor
                    niet-admins (ook niet bij directe navigatie).<br>
                    Dit dient vooral voor boeken die zo gevoelig zijn dat een TW niet voldoende is.<br><br>
                    Als je boeken permanent wilt verwijderen, kan dit (binnenkort) vanuit de Edit pagina van het boek
                    zelf.
                </div>
                <div *ngFor="let book of hiddenBooks" class="book-row">
                    <div class="image-box">
                        <a [routerLink]="['/boeken', 'id', book.id]">
                            <img *ngIf="book.uuid" class="book-cover" [src]="getImageUrl(book.uuid)"
                                alt="{{ book.title }}">
                            <img *ngIf="!book.uuid" class="book-cover" src="/assets/cover.png" alt="Default book cover">
                        </a>
                    </div>
                    <div class="text-fields">
                        {{ book.title }}<br>
                        <span *ngFor="let author of book.authors">{{ author.name }}</span><br><br>
                        <button class="btn btn-light-300" (click)="makePublic(book.id)">Zet publiek</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="nocover" role="tabpanel" aria-labelledby="nocover-tab">
            <div class="d-flex fade show flex-column gap-2">

                <div *ngFor="let book of booksWithoutCover" class="book-row">
                    <div class="image-box">
                        <a [routerLink]="['/boeken', 'id', book.id]">
                            <img class="book-cover" src="/assets/cover.png" alt="Default book cover">
                        </a>
                    </div>
                    <div class="text-fields">
                        {{ book.title }}<br>
                        <span *ngFor="let author of book.authors">{{ author.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="newbook" role="tabpanel" aria-labelledby="newbook-tab">
            <div class="d-flex flex-column gap-2">
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    Ik heb dit gecodeerd maar we hebben geen testdatabase meer.<br>
                    Kan je wanneer nodig, checken of dit werkt en doorgeven? <br>
                    Thanks!
                </div>
                <app-book-detail-editor [showBackArrow]="false"></app-book-detail-editor>
            </div>
        </div>
    </div>
</div>