@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.view {
    padding-top: 0rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;

    >div {
        border: 1px solid $light-200-color;
        padding: 1rem;
    }

    .nav-link {
        color: $dark-900-color;

        &.active {
            color: $secondary-color;
        }
    }

    .book-row {
        border: 1px solid $light-200-color;
        padding: 1rem;
        height: 20rem;
        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;

        .image-box {
            height: 100%;
            img {
                height: 18rem;
                object-fit: contain;
            }
        }
    }

    li, li button {
        width: 100%;
        text-align: start;
    }
}


.theme-dark {
    &.view {
        button.nav-link {
            color: $light-200-color;

            &.active {
                background-color: $primary-color;
                color: $dark-900-color;
            }
        }
    }
}