
@each $line in 1, 2, 3, 4, 5 {
    .text-truncate-#{$line} {
        -webkit-line-clamp: #{$line};
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}