@import "./mixins";

.container {
    @include extra-large {
        &:not(.container-wide) {
            max-width: 60rem;
        }
    }
}

body.sidebar-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.text-truncate-1,
.text-truncate-2,
.text-truncate-3,
.text-truncate-4 {
    word-break: break-word;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    // gap: 0.85rem;

    .container {

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @include desktop {
        padding: 3rem 0;

        div.section-content {
            width: 900px;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                width: 100%;
                text-align: left;
            }

            .container {
                padding: 4rem;
            }
        }
    }
}

.tag {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}