body {
    font-family: 'Geist Mono';

    &.theme-dark {
        background-color: $dark-900-color;
        color: $light-200-color;
    }
    &.theme-light {
        background-color: $light-100-color;
        color: $dark-900-color;
    }
}

a:hover {
    color: $secondary-color;
}

.theme-dark {
    section {
        &.bg-primary {
            background-color: $primary-800-color !important;
            color: $dark-900-color;

            h1, h2, h3, h4, h5, h6 {
                color: $dark-900-color;
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        color: $light-100-color;

        a {
            text-decoration: underline;

            &:hover {
                color: $primary-color;
            }
        }
    }
    input.form-check-input {
        background-color: $dark-900-color;
    
        &:checked[type=checkbox] {
            background-color: $secondary-color;
        }
    }
    .tag {
        color: $dark-900-color;
        background-color: $light-100-color;
        &.primary {
            background: none;
            border: 1px solid $primary-color;
            color: $primary-color;
        }
        &.secondary {
            background: none;
            border: 1px solid $secondary-color;
            color: $secondary-color;
        }
    }
    .accordion-item {
        background-color: $dark-900-color;
        border: none;
        border-bottom: 1px solid $light-100-color;

        .accordion-button {
            background-color: $dark-900-color;
            border-bottom: 1px solid $light-100-color;
            color: $light-100-color;

            &::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); 
            }
            
            &:not(.collapsed) {
                background-color: $dark-900-color;
                color: $light-100-color;
                box-shadow: none;

                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
          
        }
        .accordion-body {
            color: $light-100-color;
        }
    }
    button {
        &.btn-primary {
            background-color: $primary-800-color;
            border: none;
        }
        &.btn-secondary {
            background-color: $secondary-900-color;
            color:$light-100-color;
            border: none;
        }
    }
    .sidebar {
        background-color: $dark-900-color;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline $light-100-color;
    }

    // FORM //
    input, input:focus,
    textarea,
    .upload-label,
    ng-select .ng-select-container  {
        background-color: $dark-900-color;
        color: $light-100-color;
        border: 1px solid $light-100-color;
    }
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        background-color: $dark-900-color;

        .primary .border-end {
            border-right: 1px solid $primary-color !important;
        }
        .secondary .border-end {
            border-right: 1px solid $secondary-color !important;
        }
    }

    .ng-select.ng-select-opened>.ng-select-container,
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
    ng-select .ng-value,
    ng-select:focus .ng-value,
    ng-select .ng-option,
    select {
        background-color: $dark-900-color;
        color: $light-100-color;
    }

    .NgxEditor__MenuBar {
        background-color: $dark-700-color;
    }
    .NgxEditor__Content {
        background-color: $dark-500-color;
        color: $light-100-color;
    }

    .modal-content {
        background-color: $dark-900-color;
    }

    // .form-switch .form-check-input,
    // .form-switch .form-check-input:focus {
    //     color: $light-100-color;
    //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#ffffff'/%3e%3c/svg%3e");
    //     --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#ffffff'/%3e%3c/svg%3e");
    // }
}
.theme-light {
    h1, h2, h3, h4, h5, h6 {
        color: $dark-900-color;

        a {
            color: $dark-900-color;
            text-decoration: underline;

            &:hover {
                color: $dark-900-color;
            }
        }
    }
    input.form-check-input {
        border: 1px solid $dark-900-color;
        &:checked[type=checkbox] {
            background-color: $secondary-color;
        }
    }
    .tag {
        background-color: $dark-900-color;
        color: $light-100-color;
        &.primary {
            background-color: $primary-color;
            color: $dark-900-color;
        }
        &.secondary {
            background-color: $secondary-700-color;
            color: $light-100-color;
        }
    }
    .accordion-item {
        background-color: $light-100-color;
        border: none;
        border-bottom: 1px solid $dark-900-color;

        .accordion-button {
            background-color: $light-100-color;
            
            &:not(.collapsed) {
                background-color: $light-100-color;
                color: $dark-900-color;
            }
        }
    }
    button {
        &.btn-secondary {
            background-color: $secondary-700-color;
            color: #fff;
            border: none;
        }
    }
    .sidebar {
        background-color: $light-100-color;
    }
    a {
        text-decoration: none;
    }
    a:not(.nav-link) {
        color: $dark-900-color;
    }
    a:hover {
        text-decoration: underline $dark-900-color;
    }
}

// make into themes later
.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

ng-select.is-invalid .ng-select-container {
    border: 1px solid #dc3545;
}