@use "sass:map";

// COLORS

$theme-colors: (
  primary: #FFCD30,
  primary-500: #FDCB29,
  primary-600: #fdb416,
  primary-800: #BA8B08,
  primary-900: #8C6A1E,

  // Deprecated
  // primary-light: #ECA8A8,
  // Deprecated
  // primary-lighter: #f3d4d4,

  // Default secondary in light theme
  secondary: #9C59D1,
  secondary-200: #E7B0FF,
  secondary-300: #C489DD,
  secondary-400: #A772D3,
  secondary-500: #9C59D1,
  secondary-700: #6B3597,
  secondary-900: #471786,

  // Deprecated
  secondary-muted: #64497B,

  danger: #e04a4a,
  success: #3e8d63,

  dark: #1B1B1C,
  dark-900: #1B1B1C,
  dark-800: #262627,
  dark-700: #2D2D2D,
  dark-500: #5b5858,
  dark-400: #767676,

  purple-color: #a69fb9cb,
  purple-darker: #443C5A,
  purple-dark: #241F31,
  purple-light: #d5caebef,

  light: #F5F5F5,

  // Default light in light theme
  light-100: #FBFBFB,
  // Default light in dark theme
  light-200: #EFEFF1,
  light-300: #D6D6D6,
  light-400: #BDBDBD,

  neutral-500: #979494,
  neutral-600: #696767,

  header-color: #EACCCC,
  yellow-color: #D99600,
  yellow-dark-color: #a06e03,
);

$primary-color: map.get($theme-colors, 'primary') !default;
$primary-600-color: map.get($theme-colors, 'primary-600') !default;
$primary-800-color: map.get($theme-colors, 'primary-800') !default;
$primary-900-color: map.get($theme-colors, 'primary-900') !default;

// Deprecated
$primary-light-hover-color: map.get($theme-colors, 'primary-lighter') !default;

$secondary-color: map.get($theme-colors, 'secondary') !default;
$secondary-300-color: map.get($theme-colors, 'secondary-300') !default;
$secondary-400-color: map.get($theme-colors, 'secondary-400') !default;
$secondary-500-color: map.get($theme-colors, 'secondary-500') !default;
$secondary-700-color: map.get($theme-colors, 'secondary-700') !default;
$secondary-900-color: map.get($theme-colors, 'secondary-900') !default;

// Deprecated
$secondary-muted-color: map.get($theme-colors, 'secondary-muted') !default;

$link-color: $primary-color;

$dark-color: map.get($theme-colors, 'dark') !default;
$dark-900-color: map.get($theme-colors, 'dark-900') !default;
$dark-800-color: map.get($theme-colors, 'dark-800') !default;
$dark-700-color: map.get($theme-colors, 'dark-700') !default;
$dark-500-color: map.get($theme-colors, 'dark-500') !default;
$dark-400-color: map.get($theme-colors, 'dark-400') !default;

$light-color: map.get($theme-colors, 'light') !default;
$light-100-color: map.get($theme-colors, 'light-100') !default;
$light-200-color: map.get($theme-colors, 'light-200') !default;
$light-300-color: map.get($theme-colors, 'light-300') !default;
$light-400-color: map.get($theme-colors, 'light-400') !default;

$neutral-500-color: map.get($theme-colors, 'neutral-500') !default;
$neutral-600-color: map.get($theme-colors, 'neutral-600') !default;

$headings-color: map.get($theme-colors, 'primary') !default;
$yellow-color: map.get($theme-colors, 'yellow-color') !default;
$yellow-dark-color: map.get($theme-colors, 'yellow-dark-color') !default;
$purple-color: map.get($theme-colors, 'purple-color') !default;
$purple-darker: map.get($theme-colors, 'purple-darker') !default;
$purple-light-color: map.get($theme-colors, 'purple-light') !default;

$danger-color: map.get($theme-colors, 'danger') !default;

// FONT SIZES

$font-size-base: 1rem !default;
$navbar-brand-font-size: $font-size-base * 1.45 !default;
$nav-link-font-size: $font-size-base * 1.2 !default;

$h1-font-size: $font-size-base * 2.1 !default;
$h2-font-size: $font-size-base * 1.8 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.3 !default;
$h5-font-size: $font-size-base * 1.1 !default;
$h6-font-size: $font-size-base !default;