@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;  
}

.search {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    @media (min-width: 1024px) {
        padding: 96px 10px;
    }

    .hero-text {
        display: flex;
        align-items: center;
        color: $dark-900-color;

        @include desktop {
            font-size: 2rem;
        }

        .typing {
            color: $light-200-color;
        }
    }

    form {
        width: 100%;

        @media (min-width: 1024px) {
            width: 500px;
        }

        .book-search {
            padding: 1rem 1.5rem;

            &::placeholder {
                color: $neutral-500-color;
                font-size: 0.85rem;
            }
        }

        .search-icon {
            padding-right: 2rem;
            background: url("/assets/search.svg") no-repeat;
            background-position: calc(100% - 10px) center; /* Adjust 10px as needed */
            background-color: $light-200-color;
            background-size: 2rem;
        }
    }
}


.hero {
    .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    @include desktop {
        padding: 96px 0;
    }

    .hero-text {
        display: flex;
        align-items: center;

        @include desktop {
            font-size: 2rem;
        }

        .typing {
            font-weight:500;
        }
    }

    form {
        width: 100%;

        @include desktop {
            width: 500px;
        }

        .book-search {
            padding: 1rem 1.5rem;

            &::placeholder {
                color: $neutral-500-color;
                font-size: 0.85rem;
            }
        }

        .search-icon {
            padding-right: 2rem;
            background: url("/assets/search.svg") no-repeat;
            background-position: calc(100% - 10px) center; /* Adjust 10px as needed */
            background-color: $light-200-color;
            background-size: 2rem;
        }
    }
}

.theme-light>.hero, .theme-light>.search {
    background-color: $secondary-700-color;

    span {
        color: $light-100-color;
        font-weight: 100;
    }
    .typing {
        color: $light-color;
    }
}
.theme-dark>.hero, .theme-dark>.search {
    background-color: $secondary-900-color;

    span {
        color: $light-100-color;
        font-weight: 100;
    }
}