<div class="view theme-{{theme$|async}} container container-wide">
    <div class="content">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button (click)="setRoute('boeken')" class="nav-link" [class.active]="activeTab === 'boeken'"  id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home">Boeken</button>
            </li>
            <li class="nav-item" role="presentation">
              <button (click)="setRoute('tags')" class="nav-link" [class.active]="activeTab === 'tags'"  id="tag-tab" data-bs-toggle="tab" data-bs-target="#tag" type="button" role="tab" aria-controls="tag">Tags</button>
            </li>
            <li class="nav-item" role="presentation">
              <button (click)="setRoute('blog')" class="nav-link" [class.active]="activeTab === 'blog'"  id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog" type="button" role="tab" aria-controls="blog">Blog</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show" [class.active]="activeTab === 'boeken'" id="home" role="tabpanel" aria-labelledby="book-tab">
                <app-book-management></app-book-management>
            </div>
            <div class="tab-pane fade show" [class.active]="activeTab === 'tags'" id="tag" role="tabpanel" aria-labelledby="tag-tab">
                <app-tag-management></app-tag-management>
            </div>
            <div class="tab-pane fade show" [class.active]="activeTab === 'blog'" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                <app-blog-management></app-blog-management>
            </div>
          </div>
          
    </div>
</div>