@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.view {
    padding-top: 3rem;
    // display: grid;
    // grid-template-columns: 1fr 3fr;
    gap: 2rem;

    div {
        // border: 1px solid $light-200-color;
        padding: 1rem;
    }

    .content {
        .nav-link {
            // color: $dark-900-color;
        }

        .nav-item>button {
            border-left: 1px solid $light-200-color;
            border-right: 1px solid $light-200-color;
            border-top: 1px solid $light-200-color;
        }

        .tab-content {
            border-left: 1px solid $light-200-color;
            border-right: 1px solid $light-200-color;
            border-bottom: 1px solid $light-200-color;

        }
    }

    &.theme-dark {

        // &.view {
        button.nav-link {
            color: $light-200-color;

            &.active {
                background-color: $dark-900-color;
                color: $light-200-color;
                border-bottom: 1px solid $dark-800-color;
            }
        }

        // }
    }
    &.theme-light {

        // &.view {
        button.nav-link {
            color: $dark-900-color;

            &.active {
                // background-color: $primary-color;
                // color: $dark-900-color;
            }
        }

        // }
    }
}