<div *ngFor="let toast of toastService.toasts">
    <ngb-toast [class]="toast.classname" [autohide]="true" [delay]="toast.delay || 5000"
        (hidden)="toastService.remove(toast)">
        <ng-template *ngTemplateOutlet="toast.template; context: toast.context"></ng-template>
    </ngb-toast>
</div>

<ng-template #successTpl let-message>{{ message }}</ng-template>
<ng-template #dangerTpl let-message>{{ message }}</ng-template>