@import "../../../../assets/scss/variables";

.tag {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: fit-content;
    max-width: 32ch;
    display: block; 
    font-size: 0.75rem;
    padding: 0rem 1rem;

    &.primary {
        // &.theme-light {
        //     background-color: 1px solid $primary-600-color;
        // }
        // &.theme-dark {
        //     border: 1px solid $primary-color;
        //     color: $primary-color;
        // }
    }
    &.secondary {
        // border: 1px solid $secondary-color;
        // color: $secondary-color;
    }
}

