<div class="view container">
    <a [routerLink]="['../../']" [queryParams]="queryParams">← Terug naar resultaten</a>
    <div class="book-page-header">
        <img *ngIf="book.uuid" [src]="imageUrl">
        <img *ngIf="!book.uuid" src="/assets/cover.png">
        <div class="text">
            <div class="description-header">
                <div>
                    <h2>{{ book.title }}</h2>
                    <h3>{{ book.subtitle }}</h3>
                    <span class="author">{{ book.authors }}</span>
                </div>
                <div *ngIf="(user$ | async)?.isAdmin" class="d-flex flex-row justify-content-end">
                    <a routerLink="bewerken" [queryParams]="queryParams">
                        <button class="m-2 btn btn-primary d-none d-md-block" context="primary" >Bewerken</button>
                    </a>
                </div>
            </div>
            <div class="d-none d-lg-flex flex-column gap-3">
                <ng-container [ngTemplateOutlet]="bookDetails"></ng-container>
            </div>
        </div>
    </div>
    <div class="d-flex d-lg-none flex-column gap-3">
        <ng-container [ngTemplateOutlet]="bookDetails"></ng-container>
    </div></div>
<ng-template #bookDetails>
    <hr class="d-lg-none">
    <ng-container *ngIf="(language$|async)==='nl'">
        <div class="d-flex flex-row flex-wrap gap-2">
            <ui-tag *ngFor="let tag of book.categories; let i = index" color="primary">
                {{ tag }}
            </ui-tag>
            <ui-tag *ngFor="let tag of book.themes; let i = index" color="secondary">
                {{ tag }}
            </ui-tag>
        </div>
    </ng-container>
    <ng-container *ngIf="(language$|async)==='en'">
        <div class="d-flex flex-row flex-wrap gap-2">
            <ui-tag *ngFor="let tag of book.categories_en; let i = index" color="primary">
                {{ tag }}
            </ui-tag>
            <ui-tag *ngFor="let tag of book.themes_en; let i = index" color="secondary">
                {{ tag }}
            </ui-tag>
        </div> 
    </ng-container>
    <hr class="d-lg-none">
    <div class="details">
        <span>{{ book.pageCount }} pagina's</span>
        <span *ngIf="!!book.pageCount && !!book.publishedYear">|</span>
        <span>{{ book.publishedYear }}</span>
    </div>
    <div class="description">
        <p *ngFor="let paragraph of description">{{ paragraph }}</p>
    </div>
    <hr class="d-lg-none">
    <div class="details">
        <span>ISBN: {{ book.isbn13 ?? '?' }}</span>
        <span>ISBN10: {{ book.isbn10 ?? '?' }}</span>
    </div>
</ng-template>