@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";


.view {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .description-header {
        @include desktop {
            display: grid;
            grid-template-columns: 75% auto;
        }
    }

    .book-page-header {
        display: grid;
        grid-template-columns: 35% auto;
        gap: 1rem;

        @include desktop {
            grid-template-columns: 25% auto;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;

            @include desktop {
                // height: 100%;
            }
        }
        .text {
            display: flex;
            flex-direction: column;
            gap: 0;

            @include desktop {
                gap: 1rem;
            }

            h2 {
                font-size: 1rem;
                margin-bottom: 0;

                @include desktop {
                    font-size: revert;
                }
            }
            h3 {
                font-size: 0.85rem;
                margin-bottom: 0;
                
                @include desktop {
                    // max-width: 70ch;
                }
            }
            .author {
                font-weight: 100;

                @include desktop {
                    font-weight: initial;
                }
            }
        }
    }
    .details {
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .description {
        font-size: 0.85rem;

        @include desktop {
            // max-width: 70ch;
        }
    }
}
