<div class="d-none d-lg-flex theme-{{theme$|async}} notification flex-row justify-content-between align-items-center w-100" *ngIf="showNotification">
 <span>{{notificationText}}</span>
 <span class="p-1" (click)="hideNotification()">x</span>
</div>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark-900 theme-{{theme$|async}}" >
  <a class="navbar-brand d-flex flex-row align-items-center" routerLink="/">
    <img class="logo shadow rounded-circle" src="assets/logo.svg">
    <span class="d-none d-sm-block brand-text shadow">Project Madrigal</span>
  </a>

  <button type="button" class="navbar-toggler" (click)="toggleCollapsed()" [attr.aria-expanded]="!isCollapsed"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-items sidebar" #collapse="ngbCollapse" [horizontal]="true" [(ngbCollapse)]="isCollapsed" (ngbCollapseChange)="toggleBodyScroll()">
    <ul class="navbar-nav mt-2 mt-xl-0">
      <li class="nav-item" [class.active]="isActive(link.route)" *ngFor="let link of headerLinks"
        (click)="onNavItemClick(link.route)">
        <a class="nav-link">
          {{ link.label }}
        </a>
      </li>
      <li class="nav-item d-lg-none" [class.active]="isActive(link.route)" *ngFor="let link of mobileLinks"
        (click)="onNavItemClick(link.route)">
        <a class="nav-link">
          {{ link.label }}
        </a>
      </li>
      <li class="nav-item" *ngFor="let link of adminLinks" (click)="onNavItemClick(link.route)">
        <a class="nav-link">
          {{ link.label }}
        </a>
      </li>
      <!-- <li class="nav-item dropdown d-lg-none dropdown-center">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Light theme</a></li>
          <li><a class="dropdown-item" href="#">Dark theme</a></li>
        </ul>
      </li> -->
      <li class="nav-item d-none" *ngIf="(user$ | async) === undefined">
        <a class="nav-link text-primary-light" [routerLink]="['login']">
          <button class="btn btn-primary">Aanmelden</button>
        </a>
      </li>
      <li *ngIf="(user$ | async) as user" class="nav-item d-none d-lg-block" ngbDropdown>
        <a class="nav-link nav-dropdown text-light-200" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">Hoi, {{
          user.username }} </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end bg-dark">
          <a ngbDropdownItem class="profile-dropdown-item"
            (click)="$event.preventDefault();onNavItemClick('reservaties')">Reservaties</a>
          <a ngbDropdownItem class="profile-dropdown-item" (click)="$event.preventDefault();logout()">Uitloggen</a>
        </div>
      </li>
      <li class="nav-item" (click)="toggleLanguage();toggleCollapsed(true)">
        <a class="nav-link text-light d-flex flex-row align-items-center pe-0">
          <img src="assets/globe.svg">
          <span class="small">&nbsp;{{language$|async|uppercase}}</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="(theme$ | async) === 'light'" (click)="setTheme('dark');toggleCollapsed(true)">
        <a class="nav-link d-flex flex-row align-items-center ps-lg-0">
          <img src="assets/moon.svg">
          <span class="d-lg-none"> Toggle nachtmodus</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="(theme$ | async) === 'dark'" (click)="setTheme('light');toggleCollapsed(true)">
        <a class="nav-link d-flex flex-row align-items-center ps-lg-0">
          <img src="assets/sun.svg">
          <span class="d-lg-none"> Toggle lichtmodus</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="showNotification" class="d-block d-lg-none theme-{{theme$|async}} notification d-flex flex-row justify-content-between align-items-center">
  <span>{{notificationText}}</span>
  <span class="p-1" (click)="hideNotification()">x</span>
 </div>