@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.notification {
    padding: 1rem;
    background-color: $primary-color;
    color: $dark-900-color;

    &.theme-dark {
        background-color: $primary-800-color;
    }
}

.navbar {
    &.fixed {
        // position: fixed;
        // width: 100%;
        // z-index: 10;
    }

    @include desktop {
        position: relative;
        padding: 0rem 5rem;
        height: 65px;
    }

    .navbar-brand {
        margin-left: 24px;
    }

    .navbar-nav {
        height: 100vh;
        width: 100vw;
        align-items: center;

        @include desktop {
            height: 100%;
            width: auto;
        }
    }

    .logo {
        width: 50px;
        height: 50px;
        z-index: 10;
    }

    .navbar-items {
        z-index: 10;
        position: fixed;
        top: 4rem;
        height: 100vh;
        width: 100vw;
        background-color: $dark-900-color;
        overflow: hidden;

        @include desktop {
            position: inherit;
            height: 100%;
            width: 100%;
            top: 0;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
        }
    }

    .nav-item {
        width: 100%;
        // height: 4rem;
        align-items: center;
        display: flex;
        cursor: pointer;
        padding: 0.7rem;

        &:hover {
            color: $secondary-700-color;
        }

        @include desktop {
            width: auto;
            display: flex;
            height: 100%;
            padding: 0 1.1rem;

            .nav-dropdown {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

        }

        .nav-link {
            padding-left: 16px;
            padding-right: 16px;
        }

        &.active {
            .nav-link {
                color: $dark-900-color;
            }

            @include desktop {
                background-color: inherit;
            }
        }
    }

    .brand-text {
        position: relative;
        top: -3px;
        left: -10%;
        transform: rotate(-1deg);
        font-size: 1.25rem;
        font-weight: normal;
        font-family: 'Geist Mono';
        color: $dark-900-color;
        padding: 0px 10px;
        background: linear-gradient(45deg, $light-200-color, $light-400-color);
        border-radius: 3px;
        padding-left: 2.25rem;
        height: 35px;
        border-bottom: 3px solid #000000;
    }

    .navbar-toggler {
        border: none;
        border-color: $primary-color;
        margin-right: 1rem;

        .navbar-toggler-icon {
            width: 40px;
            height: 40px;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FDCB29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
}

.profile-dropdown-item {
    color: $light-200-color;

    &:hover,
    &:focus {
        color: $dark-900-color;
    }
}


.theme-dark {
    li.nav-item.active {
        background-color: $primary-color;
    }

    @include desktop {
        li.nav-item.active {
            background-color: $dark-900-color;
            box-shadow: inset 0 -0.5rem 0 0 $secondary-900-color;
            a.nav-link {
                color: $light-color;
            }
        }
    }
}

.theme-light {
    li.nav-item.active {
        background-color: $primary-color;
    }

    @include desktop {
        li.nav-item.active {
            background-color: $dark-900-color;
            box-shadow: inset 0 -0.5rem 0 0 $secondary-700-color;
            a.nav-link {
                color: $light-color;
            }
        }
    }
}