@import "../../../../../assets/scss/variables";

.contact {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $dark-900-color;
    color: $light-200-color;

    h3 {
        color: $light-200-color;
    }

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
