@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.events {
    .event-card {
        display: flex;
        flex-direction: column;
        gap: 0.85rem;
    }

    .event-card-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .desktop-event-details {
            padding: 1rem;

            .details{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .event-time-location {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }
        }
    }

    .map-pin {
        width: 16px;
        height: 16px;
    }

    .event-datetime, .event-location {
        font-size: 0.75rem;
    }

    .description {
        font-size: 0.85rem;
    }

    .event-image {
        width: 100%;
    }
}

.theme-light {
    .events {
        background-color: $secondary-700-color;
        color: $light-color;
        h2 {
            color: $light-100-color;
        }
        h3 {
            color: $light-100-color;
            @include desktop {
                color: $dark-900-color;
            }
        }

        @include desktop {
            background-color: $dark-900-color;
            color: $dark-900-color;
        }

        .event-card-desktop {
            background-color: $light-100-color;
            .description {
                color: $light-400-color;
        
                
            @include desktop {
                color: $dark-800-color;
            }
            }
        }
    }
}
.theme-dark {
    .events {
        color: $light-100-color;
        @include desktop {
            color: $dark-900-color;
        }

        h2 {
            color: $light-100-color;
        }
    
        h3 {
            color: $light-100-color;
        }

        .desktop-event-details {
            color: $light-100-color;
        }

        .event-card-desktop {
            background-color: $dark-800-color;
            color: $light-100-color;

            .description {
                color: $light-400-color;
            }
        }

        .disabled-button {
            border: 1px solid $light-100-color;
        }
    }
}