@import "../../../../../assets/scss/variables";

.faq {
    h3 {
        padding: 0rem;
    }

    .accordion {
        width:100%;
    }
    .accordion-item {
        border: none;
        border-bottom: 1px solid $dark-900-color;
        
        &:first-of-type > .accordion-header .accordion-button,
        &:last-of-type,
        &:last-of-type > .accordion-header .accordion-button
        {
            border-radius: 0;
        }

        .accordion-button {
            padding: 0.75rem;
            font-weight: 700;
        }
    }
}

.theme-light>.faq {
    background-color: $light-100-color;
    h2 {
        color: $dark-900-color;
    }
}
.theme-dark>.faq {
    background-color: $dark-800-color;
    h2 {
        color: $light-100-color;
    }
    .accordion-item {
        background-color: $dark-800-color;

        .accordion-button {
            background-color: $dark-800-color;
            
            &:not(.collapsed) {
                background-color: $dark-800-color;
            }
        }
    }
}