@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.recommendations {
    max-height: 100vh;
    width: 100vw;

    @include desktop {
        width: 100%;
    }

    .section-content {
        width: -webkit-fill-available;

        @include desktop {
            width: 900px;
        }
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;

        @include tablet {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 1rem;
            overflow: visible;
        }

        @include desktop {
            gap: 1rem;
        }

        .recommendation {
            flex: 0 0 100%;
            scroll-snap-align: start;
            box-sizing: border-box;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            @include tablet {
                flex: none;
                width: auto;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }

            @include desktop {
                height: -webkit-fill-available;
            }
            
            @include desktop {
                padding-left: 0;
                padding-right: 0;
            }
            
            .book-card {
                display: flex;
                padding: 8px 8px 24px 8px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                flex: 1 0 0;

                border-radius: 8px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                height: 100%;

                @include desktop {
                    cursor: pointer;

                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        background-color: white;
                        transition: background-color 0.3s ease-in-out;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                }

                .title {
                    display: flex;
                    transform: rotate(-1deg);
                    padding: 0px 16px 3px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    max-width: 30ch;

                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    font-size: 12px;

                    border-radius: 3px;
                    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
                }

                img {
                    max-width: 80%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// colors
.theme-light>.recommendations {
    background-color: $primary-color;

    h2 {
        color: $dark-900-color;
    }

    .book-card {
        background-color: $light-100-color;

        .title {
            border-right: $dark-900-color;
            border-bottom: $dark-900-color;
            background: $dark-900-color;
            color: $light-100-color;
        }
    }
}
.theme-dark>.recommendations {
    background-color: $primary-800-color;

    h2 {
        color: $dark-900-color;
    }
    
    .container {
    
        .book-card {
            background-color: $light-300-color;
            color: $dark-900-color;
    
            .title {
                border-right: $dark-900-color;
                border-bottom: $dark-900-color;
                background: $dark-900-color;
                color: $light-100-color;
            }
        }
    }
}

@keyframes swipeHint {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(0);
    }
    75% {
        transform: translateX(-25px);
      }
    100% {
      transform: translateX(0);
    }
}

.swipe-hint {
    animation: swipeHint 3s ease-in-out;
}