<div class="w-100 d-flex flex-column align-items-end gap-3">
    <button class="btn btn-primary" (click)="createPost()">Nieuwe post</button>
    <table class="table table-hover w-100 table-{{theme$|async}}">
        <thead>
            <tr>
                <th>Titel (NL)</th>
                <th>Titel (EN)</th>
                <th>Datum</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of blogPosts">
                <td>
                    <span *ngIf="post.published">✅</span>
                    <span *ngIf="!post.published">🙈</span>
                    {{ post.title }}
                </td>
                <td>{{ post.title_EN }}</td>
                <td>{{ post.created_at | localizedDate }}</td>
                <td class="d-flex flex-row gap-2">
                    <img (click)="editPost(post)" class="cursor-pointer" src="assets/pencil-{{theme$|async}}.svg">
                    <img (click)="showDeleteModal(content, post)" class="cursor-pointer" src="assets/trash-{{theme$|async}}.svg">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Ben je zeker?</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        Ben je zeker dat je "{{ blogToDelete }}" wilt verwijderen? Ik kan dit niet ongedaan maken!<br>
        Misschien kan je beter klikken op de Edit button en deze onzichtbaar zetten.<br><br>
        Ben je toch zeker, typ in het veld hieronder dan "verwijder" om deze PERMANENT en ONOMKEERBAAR te verwijderen:
		<input class="form-control" [(ngModel)]="confirmDeleteInput" [ngModelOptions]="{ standalone: true }">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" [attr.disabled]="confirmDeleteInput==='verwijder' ? null : true" (click)="modal.close('delete')">Verwijderen</button>
	</div>
</ng-template>
