@import "../../../../../assets/scss/variables";

.accordion {
    width:100%;
}
.accordion-item {
    border: none;
    
    &:first-of-type > .accordion-header .accordion-button,
    &:last-of-type,
    &:last-of-type > .accordion-header .accordion-button
    {
        border-radius: 0;
    }

    .accordion-button {
        padding: 1.25rem;
        font-weight: 700;
    }
}

.theme-dark {
    .book-count {
        color: $light-300-color;
    }
}
.theme-light {
    .book-count {
        color: $light-400-color;
    }
}

// .theme-light .categories {
//     background-color: $light-200-color;

//     .accordion-button {
//         background-color: $light-200-color;
//     }
// }
// .theme-dark .categories {
//     .accordion-item {
//         background-color: $dark-color;
//         border-bottom: 1px solid $light-200-color;
//         color: $light-200-color;
    
//         .accordion-button {
//             background-color: $dark-color;
//             color: $light-200-color;
    
//             &::after {
//                 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");        }
            
//             &:not(.collapsed) {
//                 background-color: $dark-color;
//                 color: $light-200-color;
                
//                 &::after {
//                     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");            }
//             }
    
//             &:focus {
//                 border-bottom: 1px solid $light-100-color;
//             }
//         }
//     }
// }