@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.heading {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include desktop {
        align-items: center;
    }
}

.why {
    .section-content {
        .content {
            .image {
                width: 100%;
                height: 15rem;
                object-fit: cover;
                object-position: center;
                padding-bottom: 2rem;
            }

            @include desktop {
                display: grid;
                grid-template-columns: 40% auto;
                gap: 2rem;

                .image {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.what {
    background-color: $primary-color;

    .section-content {
        .content {
            .image {
                width: 100%;
                height: 15rem;
                object-fit: cover;
                object-position: center;
                padding-bottom: 2rem;
            }

            @include desktop {
                display: grid;
                grid-template-columns: auto 60%;
                gap: 2rem;

                .image {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}

.who {
    .volunteers {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding-bottom: 2rem;

        @include desktop {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
        }

        .volunteer {
            padding: 1rem;
            border: 1px solid $light-300-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            h3 {
                margin-bottom: 0;
            }

            .tag {
                font-size: 0.85rem;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;

                @include desktop {

                    // height: 100%;
                    // object-fit: cover;
                }
            }
        }
    }

    .thanks {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    .kartonnen-dozen {
        display: grid;
        gap: 1rem;
        grid-template-rows: 2fr;

        @include desktop {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
        }

        .img-wrapper {
            padding-bottom: 2rem;
        }

        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}