<section class="heading">
    <div class="section-content">
        <h1>Over Project Madrigal</h1>
    </div>
</section>
<section class="why">
    <div class="section-content">
        <h2>Waarom?</h2>
        <div class="content">
            <img class="image"
                src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/about/blahaj.png">
            <div class="text">
                <p>Project Madrigal is ontstaan vanuit het idee dat alle informatie die <strong>bewustwording en
                        identiteitsvorming</strong>
                    verhoogt, vrij beschikbaar moet zijn voor de queer personen en hun allies.</p>
                <p>Om de toegankelijkheid hierbij te vergroten, probeer ik zo maximaal mogelijk
                    <strong>drempelverlagend</strong> te werken.
                </p>
                <p>Na de sluiting van <strong>Kartonnen Dozen</strong>, de oudste nog overblijvende <strong>LGBTQIA+
                        boekhandel</strong> van de Benelux, verdween
                    er een culturele pilaar uit Antwerpen. Het was bijna een kwarteeuw lang niet alleen een onmisbare
                    bron aan
                    literatuur en films, maar bood ook een <strong>ontmoetingsplaats</strong> voor velen.</p>
                <p>Dankzij Johanna kon ik een gedeeltelijke overname doen van zowel de tweedehands als de nieuwe stock.
                    Samen
                    maakten we een selectie van een <strong>1000+ boeken</strong> waarvan we beide vonden dat deze
                    onversplinterd binnen de
                    community moest behouden blijven.</p>
                <p>Met deze collectie ben ik een <strong>uitleendienst</strong> gestart voor iedereen binnen Antwerpen
                    die meer
                    over deze
                    onderwerpen wil lezen.</p>
            </div>
        </div>

    </div>
</section>
<section class="what bg-primary">
    <div class="section-content">
        <h2>Wat?</h2>
        <div class="content">
            <div class="text">
                <p>Mijn grootste focus ligt uiteraard binnen <strong>Gender en Seksualiteit</strong>, waarbij ik extra
                    aandacht
                    heb voor de
                    algehele <strong>diversiteit</strong> hierin.</p>
                <p>Daarbuiten bied ik eveneens de klassiekers aan binnen de <strong>Gay & Lesbian literatuur</strong>
                    alsook
                    heel wat
                    <strong>feministische uitgaven</strong> die doorheen de geschiedenis zijn uitgebracht.
                </p>
            </div>
            <img class="image"
                src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/about/nance.png">
        </div>
    </div>
</section>
<section class="who">
    <div class="section-content">
        <h2>Wie?</h2>
        <!-- <div class="content"> -->
            <div class="volunteers">
                <div class="volunteer">
                    <img src="assets/nance.png">
                    <div>
                        <h3>Nance</h3>
                        <span class="tag">any/all</span>
                        <span class="small">Founder</span>
                    </div>
                </div>
                <div class="volunteer">
                    <img src="assets/nele.jpg">
                    <div>
                        <h3>Nele</h3>
                        <span class="tag">she/they</span>
                        <span class="small">Fundraising</span>
                    </div>
                </div>
                <div class="volunteer">
                    <!-- <img src="assets/nance.png"> -->
                     <div></div>
                    <div>
                        <h3>Hade</h3>
                        <span class="tag">they/them</span>
                        <span class="small">Events</span>
                    </div>
                </div>
                <div class="volunteer">
                    <img src="assets/darleen.png">
                    <div>
                        <h3>Darleen</h3>
                        <span class="tag">she/her/they</span>
                        <span class="small">Site admin</span>
                    </div>
                </div>
            </div>
        <!-- </div> -->
         <div class="thanks">
            <span class="">
                Verder wil ik mijn dank uitbrengen aan alle donateurs die de uitwerking van Madrigal mogelijk maakten,
                maar vooral Johanna, de bezieler van boekhandel Kartonnen Dozen (’t vroegere Verschil).
            </span>
            <div class="kartonnen-dozen">
                <div class="img-wrapper">
                    <img src="assets/kartonnendozen.jpeg">
                    <span class="small">Kartonnen Dozen (beeld Bob Van Mol)</span>
                </div>
                <div class="img-wrapper">
                    <img src="assets/johanna.png">
                    <span class="small">Johanna Pas (beeld Marijn Achten)</span>
                </div>
            </div>
         </div>
    </div>
</section>