@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.reservations {
    padding: 2rem 1rem 2.5rem 1rem;
    gap: 1rem;

    @include desktop {
        padding: 1rem 200px 10rem;
    }

    .reservation-section {

        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;

        @include desktop {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 0.5rem;
        }

        .books {
            padding: 1rem;
            border: 1px solid $light-200-color;

            display: grid;
            grid-template-rows: auto;
            gap: 1rem;

            .book-row {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 1rem;
                align-items: start;

                @include desktop {
                    grid-template-columns: 1fr 6fr;
                }

                .image-box {
                    width: 100%;

                    .book-cover {
                        width: 100%;
                        // height: auto;
                        object-fit: cover;
                    }
                }

                .book-description {
                    @include desktop {
                        padding: 0.5rem;
                    }

                    .title {
                        font-size: 1.25rem;
                        font-weight: 500;
                        text-transform: none;

                        @include desktop {
                            font-size: 1.25rem;
                        }
                    }

                    .authors {
                        @include desktop {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .actions {
            padding: 1rem;
            border: 1px solid $light-200-color;
            
            .content {
                display: grid;
                grid-auto-rows: auto;
                gap: 1rem;

                @include desktop {
                    // display: grid;
                    // grid-template-rows: auto;
                    // gap: 0.5rem;
                }
            }

            .price {
                padding: 0.5rem;
            }
        }
    }
}

.theme-dark {
    .price {
        border: 1px solid $light-200-color;
    }
}
.theme-light {
    .price {
        background-color: $light-200-color;
    }
}