<div class="svg-wrap svg-wrap__icon--{{ color }}" [ngStyle]="styles" [class.spin]="spin">
    <svg height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="100%">
        <use [attr.xlink:href]="'assets/' + name + '.svg#' + name"></use>
    </svg>
</div>