@import "../../../../assets/scss/variables";

.svg-wrap {
  display: inline-block;

  &__icon {
      flex: 1;
  
      &--blue{
        color: #0062e0;
      }
  
      &--orange{
        color: #ffad1d;
      }
  
      &--primary-color{
        color: $primary-color;
      }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

.spin {
    animation: spin 2s linear infinite;
}