<div class="d-flex flex-column theme-{{ theme$ | async }}">
    <!-- Hidden H1 for accessibility -->
    <h1 class="d-none">Project Madrigal</h1>

    <!-- News Section -->
    <section class="news">
        <div class="section-content">
            <h2 class="d-none d-xl-block">{{labels.news}}</h2>
            <div class="container" >
                <ng-container *ngIf="post">
                    <h3>{{ (language$|async) == 'nl' ? post.title : post.title_EN }}</h3>
                    <div class="post-details">
                        <span>{{ post.created_at | localizedDate:'fullDate'}}</span>
                        <span class="d-none d-xl-block">|</span>
                        <div class="d-flex flex-row">
                            <span>{{ post.author }}</span>&nbsp;
                            <span class="tag">{{ post.pronouns }}</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <img *ngIf="post.image"
                            src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/newspostimg/{{post.image}}">
                        <span [innerHTML]="(language$|async) == 'nl' ? post.htmlcontent : post.htmlcontent_EN"></span>
                    </div>
                </ng-container>
                
                <!-- Commented for now. Future feature :) -->
                <!-- <hr>
            <div class="w-100">
                Reageer | 0 comments
            </div> -->
            </div>
        </div>
    </section>

    <!-- Recommendations Section -->
    <section class="recommendations">
        <div class="section-content">
            <h2>{{labels.recommendations}}</h2>
            <div class="container">
                <div #recommendationCards class="recommendation" *ngFor="let recommendation of recommendations">
                    <div class="book-card" (click)="goToBook(recommendation.id)">
                        <img
                            src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/covers/{{recommendation.uuid}}.jpg">
                        <div class="text">
                            <div class="title" [title]="recommendation.title">{{ recommendation.title }}</div>
                            <span>{{ recommendation.authors }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Events Section -->
    <section *ngIf="event" class="events">
        <div class="section-content">
            <h2 class="d-none d-lg-block">{{labels.events}}</h2>
            <!-- Mobile version -->
            <div class="event-card d-md-none">
                <span class="small">
                    {{ event.eventDate | date:'d' }} {{ event.eventDate | date:'MMM' | removePeriod | uppercase }} - {{
                    event.eventTime }}
                </span>
                <h3>{{ event.title }}</h3>
                <span class="small" (click)="goToLink(event.google_maps_link)">
                    <img class="map-pin" src="assets/map-pin.svg"> {{ event.location }}
                </span>
                <img class="event-image" *ngIf="event.image"
                    src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/events/{{event.image}}">
                <span class="description" [innerHTML]="event.description"></span>

                <button *ngIf="!isPastEvent" class="btn btn-light" (click)="goToLink(event.link)">Registreer je hier
                    <img src="assets/external-link.svg"></button>
                <button *ngIf="isPastEvent" class="btn btn-light" disabled>Deelname gesloten</button>
            </div>

            <!-- Desktop version -->
            <div class="d-none d-md-grid event-card-desktop">
                <img class="event-image" *ngIf="event.image"
                    src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/events/{{event.image}}">
                <div class="desktop-event-details">
                    <h3>{{ event.title }}</h3>
                    <div class="details">
                        <div class="event-time-location">
                            <div class="event-location">
                                <!-- Only show white icon on desktop light -->
                                <img class="map-pin d-lg-none" src="assets/map-pin-dark.svg">
                                <img class="map-pin d-none d-lg-inline-block" *ngIf="(theme$|async)=='light'" src="assets/map-pin-dark.svg">
                                <img class="map-pin d-none d-lg-inline-block" *ngIf="(theme$|async)=='dark'" src="assets/map-pin.svg">
                                {{ event.location }}
                            </div>
                            <div class="event-datetime">
                                <!-- Only show white icon on desktop light -->
                                <img class="map-pin d-lg-none" src="assets/clock.svg">
                                <img class="map-pin d-none d-lg-inline-block" *ngIf="(theme$|async)=='light'" src="assets/clock.svg">
                                <img class="map-pin d-none d-lg-inline-block" *ngIf="(theme$|async)=='dark'" src="assets/clock-light.svg">
                                {{ event.eventDate | date:'d' }} {{ event.eventDate | date:'MMM' | removePeriod | uppercase }} - {{ event.eventTime }}
                            </div>
                        </div>
                        <span class="description" [innerHTML]="event.description"></span>
                        <!-- <button class="btn btn-link" (click)="goToLink(event.google_maps_link)">Open Map <img src="assets/external-link-light.svg"></button> -->

                        <button *ngIf="!isPastEvent" class="btn btn-outline-dark"
                            (click)="goToLink(event.link)">Registreer
                            je hier <img src="assets/external-link.svg"></button>
                        <button *ngIf="isPastEvent" class="btn btn-dark disabled-button" disabled>Deelname
                            gesloten</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ Section -->
    <section class="faq ">
        <div class="section-content">
            <h2>{{labels.faq}}</h2>
            <div class="container pt-0">
                <div ngbAccordion>
                    <div *ngFor="let faqItem of faq; let i = index" ngbAccordionItem>
                        <h3 class="accordion-header" ngbAccordionHeader>
                            <button class="accordion-button strong" ngbAccordionButton>
                                {{ faqItem.question }}
                            </button>
                        </h3>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <span [innerHTML]="faqItem.answer_html"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="contact">
        <iframe class="w-100 h-100"
            src="https://www.openstreetmap.org/export/embed.html?bbox=4.412459135055543%2C51.20649017227458%2C4.417351484298707%2C51.20914856048351&amp;layer=mapnik&amp;marker=51.20781770516324%2C4.414905309677124"></iframe>
        <div class="p-3 p-lg-5">
            <h2 class="d-none">{{labels.contact}}</h2>
            <h3 class="">{{labels.contactTitle}}</h3>
            <div class="small">
                <p>
                    <strong>Peperfabriek</strong> ({{labels.secondFloor}})<br>
                    Breughelstraat 31<br>
                    2018 {{labels.antwerp}}
                </p>
                <p>
                    {{labels.everyFriday}}:<br><strong>{{labels.everyFridayHours}}</strong><br><br>
                    {{labels.everyLastSunday}}:<br><strong>{{labels.everyLastSundayHours}}</strong>
                </p>
                <p>
                    <strong>{{labels.general}}</strong>: info@projectmadrigal.be<br>
                    <strong>{{labels.events}}</strong>: events.madrigal@gmail.com
                </p>
            </div>

        </div>
    </section>
</div>