<div class="view container">
  <a *ngIf="showBackArrow" [routerLink]="['../']" [queryParams]="queryParams">← Terug naar boek</a>
  <!-- <h1>Bewerk <a [routerLink]="['../']">{{book.title}}</a></h1> -->
  <form *ngIf="bookForm" class="" [formGroup]="bookForm" novalidate>
    <div class="book-cover">
      <h2>Cover</h2>
      <div *ngIf="newImagePreview ?? image" class="book-cover-wrapper">
        <img [src]="newImagePreview ?? image">
      </div>
      <div class="form-group upload">
        <div class="d-flex flex-row align-items-center gap-2">
          <label for="file-input" class="form-label upload-label">Kies file</label>
          <span *ngIf="fileName" class="file-name">{{ fileName }}</span>
          <input class="upload-input form-control form-control-sm" type="file" id="file-input"
            (change)="previewImage($event)">
        </div>
        <button type="button" class="btn btn-primary " [attr.disabled]="newImagePreview ? null : true"
          (click)="saveBookCover()">Upload</button>
      </div>
    </div>
    <div class="form-fields">
      <h2>Details</h2>
      <div class="form-group">
        <label for="bookTitle">Titel</label>
        <input class="form-control" [class.is-invalid]="bookTitle?.invalid" type="text" id="bookTitle"
          formControlName="bookTitle" required>
        <div class="invalid-feedback" *ngIf="bookTitle?.invalid">
          Dit veld is verplicht
        </div>
      </div>

      <div class="form-group">
        <label for="bookSubtitle">Tweede titel</label>
        <input class="form-control" type="text" id="bookSubtitle" formControlName="bookSubtitle">
      </div>

      <div class="form-group">
        <label for="authors">Auteur(s)</label>
        <ng-select class="mt-1 mb-2" name="authors" [items]="authorOptions" formControlName="authors"
          placeholder="Auteurs" bindLabel="name" [multiple]="true" [addTag]="true">
          <ng-template ng-label-tmp let-item="item">
            <div class="tag primary theme-{{ theme$ | async }} d-flex flex-row align-items-center gap-2">
              <div class="cursor-pointer border-end pe-2" (click)="removeAuthor(item.id)">×</div>
              <span>{{ item.name }}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <div class="form-group">
        <label for="tags">Categorieën</label>
        <ng-select class="mt-1 mb-2" name="tags" [items]="tagOptions" formControlName="tags" placeholder="Categorieën"
          bindLabel="displayName" [multiple]="true">
          <ng-template ng-label-tmp let-item="item">
            <div
              class="tag {{ item.isCategory ? 'primary' : 'secondary' }} theme-{{ theme$ | async }} d-flex flex-row align-items-center gap-2">
              <div class="cursor-pointer border-end pe-2" (click)="removeTag(item.id)">×</div>
              <span>{{ item.displayName }}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <div class="form-group">
        <label for="publisher">Uitgever</label>
        <ng-select class="mt-1 mb-2"  name="publishers"
          [items]="publisherOptions" formControlName="publisher" placeholder="Uitgeverij" bindLabel="name"
          [addTag]="true">
        </ng-select>
      </div>

      <div class="form-group">
        <label for="description">Beschrijving</label>
        <textarea class="form-control" id="description" formControlName="description" rows="15"></textarea>
      </div>

      <div class="isbn-grid">
        <div class="form-group">
          <label for="isbn">ISBN10</label>
          <input class="form-control" [class.is-invalid]="isbn10?.invalid" type="text" id="isbn10"
            formControlName="isbn10">
          <div class="invalid-feedback" *ngIf="isbn10?.invalid">
            ISBN10 moet exact 10 cijfers bevatten.
          </div>
        </div>

        <div class="form-group">
          <label for="isbn">ISBN13</label>
          <input class="form-control" [class.is-invalid]="isbn13?.invalid" type="text" id="isbn13"
            formControlName="isbn13">
          <div class="invalid-feedback" *ngIf="isbn13?.invalid">
            ISBN13 moet exact 13 cijfers bevatten.
          </div>
        </div>
      </div>

      <div class="details-grid">
        <div class="form-group">
          <label for="publishedYear">Publicatiejaar</label>
          <input type="number" [class.is-invalid]="publishedYear?.invalid" class="form-control" id="publishedYear"
            formControlName="publishedYear" placeholder="2025">
          <div class="invalid-feedback" *ngIf="publishedYear?.invalid">
            Moet een waarde zijn tussen 0 en {{ maxPublishedYear }}
          </div>
        </div>

        <div class="form-group">
          <label for="pageCount">Pagina's</label>
          <input type="number" min="1" class="form-control" id="pageCount" formControlName="pageCount">
        </div>

        <div>
          <label for="stockCount">Aantal in stock</label>
          <input type="number" class="form-control" id="stockCount" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="stockCount" min="0">
        </div>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="isViewOnly" [(ngModel)]="isViewOnly"
          [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="isViewOnly">
          <span>Inkijkexemplaar</span>
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="is-hidden" formControlName="hidden">
        <label class="form-check-label" for="is-hidden">
          <span>Verborgen op de site</span>
        </label>
      </div>

      <div *ngIf="stockCount === 0" class="alert alert-warning d-flex align-items-center" role="alert">
        <div>
          Als je het aantal in stock op 0 zet, zal het boek altijd op onbeschikbaar staan.
        </div>
      </div>

      <div *ngIf="isViewOnly" class="alert alert-warning d-flex align-items-center" role="alert">
        <div>
          Als inkijkexemplaar staat aangevinkt, kan geen enkel kopie uitgeleend worden.
        </div>
      </div>

      <div *ngIf="book && book.id && (!book.copies || stockCount < book.copies.length)" class="alert alert-warning d-flex align-items-center"
        role="alert">
        <div>
          Als je het aantal in stock verlaagt, zal er een willekeurig kopie met een vrije status verwijderd worden uit
          de database.
          <hr>
          Wil je dit niet, ze het veld dan terug naar zijn oorspronkelijke waarde en contacteer Darleen dan om manueel
          de juiste kopie uit de database te verwijderen.
        </div>
      </div>

      <!-- Error code foreign key constraint -->
      <div *ngIf="errors.includes('23503')" class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          Dit boek kan niet worden verwijderd. Alle kopieën zijn ofwel gereserveerd, uitgeleend, of steken in iemands
          winkelmandje.<br>
          Ben je zeker dat deze weg mag, contacteer Darleen dan voor een manuele delete in de database.
        </div>
      </div>

      <button class="btn btn-primary confirm-button" type="button" (click)="submitBook()"
        [attr.disabled]="bookForm.valid ? null : true">Submit</button>
    </div>
  </form>
</div>