@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";


.view {
    
    h2 {
        @include desktop {
            padding-bottom: 1rem;
        }
    }
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    form {
        @include desktop {
            display: grid;
            grid-template-columns: 35% auto;
            gap: 2rem;
        }

        .form-fields {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .isbn-grid, .details-grid {
            @include desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }
        }
    }

    .book-cover {
        .upload {
            .upload-label {
                display: inline-block;
                padding: 10px 20px;
                background-color: $light-200-color;
                color: $dark-900-color;
                cursor: pointer;
                border-radius: 4px;
                text-align: center;
            }
            .upload-input {
                display: none;
            }
            @include desktop {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;

                .form-label {
                    margin-bottom: 0;
                }
            }
        }
        .book-cover-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
                max-width: 200px;
            }
        }
    }

    .confirm-button {
        align-self: self-end;
        width: 10rem;
    }
}
// img {
//     max-height: 300px;
//     max-width: 100%;
// }

// .book-description {
//     label {
//         font-weight: bold;
//     }
// }

// .image-wrap {
//     min-width: 20ch;
// }

