@media (min-width: 768px) {
    .login-form {
        width: 50%;
        margin: auto;
    }
}

.form-control.ng-valid.ng-dirty {
    border: 1px solid  #3e8d63
}
.form-control.ng-invalid.ng-dirty {
    border: 1px solid #f40804
}
