@import "../../../../../../assets/scss/variables";
@import "../../../../../../assets/scss/mixins";

// LAYOUT
.news {
    .container {
        min-height: 50rem;
    }
    .post-details {
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include desktop {
            flex-direction: row;
        }
    }

    .post-content {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

// Todo move these to shared file


hr {
    width: 100%;
}

.tag {
    padding: 0 8px;

    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

img {
    max-width: 100%;
}

// COLORS
.theme-light>.news {
    color: $dark-900-color;
    // color: $light-100-color;

    h2 {
        color: $light-100-color;
    }

    // h3 {
    //     color: $light-100-color;
    // }

    // hr {
    //     border-color: light-100-color;
    // }

    .tag {
        background-color: $dark-900-color;
        color: $light-100-color;
    }

    @include desktop {
        background-color: $dark-900-color;

        .container {
            background-color: $light-100-color;
            color: $dark-900-color;
        }

        h3 {
            color: $dark-900-color;
        }

        hr {
            border-color: $dark-900-color;
        }

        .post-details, .post-content {
            span {
                color: $dark-900-color;
            }

            .tag {
                background-color: $dark-900-color;
                color: $light-100-color;
            }
        }
    }
}

.theme-dark>.news {
    color: $light-100-color;

    h2 {
        color: $light-100-color;
    }

    h3 {
        color: $light-100-color;
    }

    hr {
        border-color: light-100-color;
    }

    .tag {
        color: $dark-900-color;
        background-color: $light-100-color;
    }

    @include desktop {
        .container {
            background-color: $dark-800-color;
            color: $light-100-color;
        }

        h2, h3, hr,
        .post-details,
        .post-content {
            color: $light-100-color;
        }

        .tag {
            background-color: $light-100-color;
            color: $dark-900-color;
        }
    }
}