<div *ngIf="blogForm" class="container py-5">
    <h1 class="pb-5">Bewerk Blogpost</h1>

    <form [formGroup]="blogForm" class="px-5">
        <div class="form-group upload">
            <div class="d-flex flex-column">
                <div class="book-cover-wrapper">
                    <img *ngIf="newImagePreview" [src]="newImagePreview">
                </div>
                <div class="d-flex flex-column align-items-start gap-2">
                    <label for="file-input" class="form-label upload-label">Upload een (nieuwe) cover foto:</label>
                    <span *ngIf="fileName" class="file-name">{{ fileName }}</span>
                    <input class="upload-input form-control form-control-sm" type="file" id="file-input"
                        (change)="previewImage($event)">
                    <button type="button" class="btn btn-primary " [attr.disabled]="newImagePreview ? null : true"
                        (click)="saveBlogImage()">Upload</button>
                </div>
            </div>
        </div>

        <div class="form-group pt-2">
            <label for="title">Titel (NL):</label>
            <input type="text" formControlName="title" id="title" class="form-control" />
        </div>

        <div class="form-group pt-2">
            <label for="title_EN">Titel (EN):</label>
            <input type="text" formControlName="title_EN" id="title_EN" class="form-control" />
        </div>

        <div class="form-group pt-2">
            <label for="title_EN">Tekst (NL):</label>
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="htmlcontent"></ngx-editor>
        </div>

        <div class="form-group pt-2">
            <label for="title_EN">Tekst (EN):</label>
            <ngx-editor-menu [editor]="editorEN" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editorEN" formControlName="htmlcontent_EN"></ngx-editor>
        </div>

        <div class="form-group pt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="published" formControlName="published">
                <label class="form-check-label" for="published">
                    <span>Gepubliceerd</span>
                    <span *ngIf="published" class="string"> - Ben je zeker? Dit maakt jouw post publiek
                        zichtbaar!</span>
                </label>
            </div>
        </div>

        <div class="py-4">
            <span *ngIf="post">Geschreven door: {{ post.author }} ({{ post.pronouns }})</span>
            <p>
                <em>De auteur is automatisch de persoon die deze post heeft aangemaakt. Dit kan indien nodig nog wel
                    worden aangepast door de webadmin.</em>
            </p>
        </div>

        <button class="btn btn-primary" (click)="savePost()">Opslaan</button>
    </form>
</div>
<section class="news">
    <div class="section-content">
        <h2 class="d-none d-xl-block">Preview</h2>
        <div class="container">
            <ng-container>
                <h3>{{ (language$|async) == 'nl' ? title : title_EN }}</h3>
                <div class="post-details">
                    <span>{{ created_at | localizedDate:'fullDate'}}</span>
                    <span class="d-none d-xl-block">|</span>
                    <div class="d-flex flex-row">
                        <span>{{ author }}</span>&nbsp;
                        <span *ngIf="authorPronouns" class="tag">{{ authorPronouns }}</span>
                    </div>
                </div>
                <div class="post-content">
                    <img *ngIf="post?.image"
                        src="https://uuxamqpddbrazazfzdqa.supabase.co/storage/v1/object/public/newspostimg/{{post.image}}">
                    <span [innerHTML]="(language$|async) == 'nl' ? htmlContent : htmlContent_EN"></span>
                </div>
            </ng-container>

            <!-- Commented for now. Future feature :) -->
            <!-- <hr>
        <div class="w-100">
            Reageer | 0 comments
        </div> -->
        </div>
    </div>
</section>