<div *ngIf="(loading$ | async)" class="loading-section">
    <div class="d-flex w-100 justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<hr *ngIf="!(loading$ | async)" class="d-none d-lg-block my-4">

<div class="book-list" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
    (scrolled)="onScroll()">
    <div class="theme-{{ theme$|async }}" *ngFor="let book of books">
        <div class="book-row dark" (click)="isDesktop ? {} : goToBook(book.id)">
            <div class="image-box">
                <a [routerLink]="['/boeken', 'id', book.id]">
                    <img *ngIf="book.uuid" class="book-cover" [src]="getImageUrl(book.uuid)" alt="{{ book.title }}">
                    <img *ngIf="!book.uuid" class="book-cover" src="/assets/cover.png" alt="Default book cover">
                </a>
            </div>

            <div class="book-description">
                <div class="d-flex flex-column">
                    <a *ngIf="isDesktop; else mobileView" [routerLink]="['/boeken', 'id', book.id]"
                        [queryParams]="queryParams$ | async">
                        <h2 class="book-title text-truncate-2 cursor-pointer">{{ book.title }}</h2>
                    </a>
                    <ng-template #mobileView>
                        <a>
                            <h2 class="book-title text-truncate-2 cursor-pointer">{{ book.title }}</h2>
                        </a>
                    </ng-template>
                    <span *ngIf="book.subtitle" class="book-subtitle">{{ book.subtitle }}</span>
                    <p>
                        <span class="">
                            {{ book.authors }}
                        </span>
                        <span class="" *ngIf="book.authors.length && book.publishers.length"> | </span>
                        <span class="">{{ book.publishers }}</span>
                    </p>
                    <p class="small  text-truncate-2">{{ book.description }}</p>
                </div>

                <div class="w-100">
                    <div class="d-flex flex-row flex-wrap">
                        <ng-container *ngIf="(language$|async)==='nl'">
                            <ui-tag *ngFor="let tag of book.categories; let i = index" color="primary" class="p-1">
                                {{ tag }}
                            </ui-tag>
                            <ui-tag *ngFor="let tag of book.themes; let i = index" color="secondary" class="p-1">
                                {{ tag }}
                            </ui-tag>
                        </ng-container>
                        <ng-container *ngIf="(language$|async)==='en'">
                            <ui-tag *ngFor="let tag of book.categories_en; let i = index" color="primary" class="p-1">
                                {{ tag }}
                            </ui-tag>
                            <ui-tag *ngFor="let tag of book.themes_en; let i = index" color="secondary" class="p-1">
                                {{ tag }}
                            </ui-tag>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="book-actions">
                <a *ngIf="isDesktop; else mobileView" class="btn btn-primary w-100 text-decoration-none"
                    [href]="'/boeken/id/' + book.id" target="_self">
                    <span>Details</span>
                </a>
                <ng-template #mobileView>
                    <button class="btn btn-primary w-100" (click)="goToBook(book.id)">
                        <span>Details</span>
                    </button>
                </ng-template>


                <button class="btn btn-secondary w-100 d-none" (click)="addBookToReservation(book)">
                    <span *ngIf="book.available">Reserveer</span>
                    <span *ngIf="userReservedBook(book)">✓ Gereserveerd</span>
                    <span *ngIf="!userReservedBook(book) && !book.available">Wachtlijst</span>
                </button>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>