@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.loading-section {
    min-height: 50vh;
}

.book-row {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 1rem;
    align-items: start;

    @include desktop {
        grid-template-columns: 1fr 2fr 1fr; 
    }

    .image-box {
        width: 100%;

        .book-cover {
            width: 100%;
            // height: auto;
            object-fit: cover;
        }
    }
    .book-description {
        .book-title {
            font-size: 1.25rem;
            font-weight: 500;
            text-transform: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .book-actions {
        display: none;

        @include desktop {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 0.5rem;
        }
    }
}

.theme-light {
    .book-title {
        color: $dark-900-color;
    }
}
.theme-dark {
    .book-title {
        color: $light-100-color;
    }
}
