
<div class="w-100 d-flex flex-row justify-content-end mb-3">
    <button class="btn btn-primary" (click)="newTag()">Nieuwe tag</button>
</div>
<div class="view theme-{{theme$|async}}">
    <div class="menu">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav-tabs">
            <li *ngFor="let tag of visibleTags" [ngbNavItem]="tag.id" class="nav-item">
                <button ngbNavLink class="nav-link" [class.text-secondary]="!!tag.showInFrontend"
                    [class.text-light-300]="!tag.showInFrontend" (click)="getBooksForTag(tag.id)">
                    {{ tag.displayName
                        ? tag.name + ' (' + tag.displayName + ')' 
                        : tag.name
                            ? tag.name
                            : 'Naamloos' }}
                </button>
                <ng-template ngbNavContent>
                    <div>
                        <form [formGroup]="formGroupMap[tag.id]">
                            <div class="mb-3">
                                <label for="id-{{ tag.id }}" class="form-label">ID</label>
                                <input type="text" id="id-{{ tag.id }}" readonly formControlName="id"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="name-{{ tag.id }}" class="form-label">Name</label>
                                <input type="text" id="name-{{ tag.id }}" formControlName="name" class="form-control">
                                <span class="small">Dit is meestal de naam die is geïmporteerd uit Goodreads, en niet
                                    zichtbaar op de site.</span>
                            </div>
                            <div class="mb-3">
                                <label for="displayName-{{ tag.id }}" class="form-label">Label NL</label>
                                <input type="text" id="displayName-{{ tag.id }}" formControlName="displayName"
                                    class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="displayNameEn-{{ tag.id }}" class="form-label">Label EN</label>
                                <input type="text" id="displayNameEn-{{ tag.id }}" formControlName="displayNameEn"
                                    class="form-control">
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="showInFrontend-{{ tag.id }}"
                                    formControlName="showInFrontend">
                                <label class="form-check-label" for="showInFrontend-{{ tag.id }}">
                                    <span>Zichtbaar op website</span>
                                </label>
                            </div>

                            <div class="mb-3">
                                <label for="tagType-{{ tag.id }}" class="form-label">Soort tag</label>
                                <select id="tagType-{{ tag.id }}" class="form-select" aria-label="Tag type"
                                    formControlName="tagType">
                                    <option value="1">Thema</option>
                                    <option value="2">Categorie</option>
                                    <option value="3">Trigger Warning</option>
                                </select>
                            </div>
                            <div *ngIf="activeTabId!==-1" class="mb-3">
                                <label for="confirmDelete-{{ tag.id }}" class="form-label">Typ "verwijder" als je deze
                                    tag wilt verwijderen:</label>
                                <input type="text" id="confirmDelete-{{ tag.id }}" formControlName="confirmDelete"
                                    placeholder="verwijder" class="form-control">
                            </div>
                            <div *ngIf="showInFrontend(tag.id) && !displayNameFilledIn(tag.id)"
                                class="alert alert-danger d-flex align-items-center" role="alert">
                                <div>
                                    Als je een tag wilt tonen in de frontend, moet je ook beide labels invullen!
                                </div>
                            </div>
                            <div class="w-100 d-flex flex-row justify-content-end gap-1">
                                <button type="button" class="btn btn-danger mt-3"  *ngIf="activeTabId!==-1" 
                                    [attr.disabled]="confirmDelete(tag.id) ? null : true" (click)="deleteTag(tag.id, true)">Verwijder</button>
                                <button type="button" class="btn btn-primary mt-3" (click)="onSubmit(tag.id)">Save</button>
                            </div>
                        </form>
                        <hr>
                          <div *ngIf="activeTabId!==-1&&bookCache.has(tag.id)">
                            <div *ngIf="bookCache.get(tag.id)?.length === 0">
                                Geen enkel boek heeft deze tag.
                            </div>
                            <div *ngFor="let book of bookCache.get(tag.id)" class="book-row">
                                <div class="image-box">
                                    <a [routerLink]="['/boeken', 'id', book.id]">
                                        <img *ngIf="book.uuid" class="book-cover" [src]="getImageUrl(book.uuid)"
                                            alt="{{ book.title }}">
                                        <img *ngIf="!book.uuid" class="book-cover" src="/assets/cover.png" alt="Default book cover">
                                    </a>
                                </div>
                                <div class="text-fields">
                                    {{ book.title }}<br>
                                    {{ book.authors }}<br><br>
                                </div>
                            </div>
                          </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
    <div *ngIf="activeTabId === 9999; else navOutlet">
        <p>
            Grijze tags: Onzichtbaar op de site.<br>
            Paarse tags: Zichtbaar op de site.
        </p>
        <p>
            Als je een van de onzichtbare tags zichtbaar wilt maken, moet je ook de displayName invullen!<br>
            Zonder displayName worden deze er ook uit gefilterd.
            Als er al een tag bestaat met deze displayName (nl), dan worden deze tags gemerged tot 1 object.<br>
            Bijvoorbeeld: Als je de tag "10-lgbt-gender (1)" hernoemt naar "LGBTQIA+", krijgen alle boeken met de tag
            "10-lgbt-gender (1)" de bestaande tag "LGBTQIA+", en wordt de tag genaamd "10-lgbt-gender (1)" verwijderd.
        </p>
        <p>
            Als je een tag verwijdert, verdwijnt deze tag van alle boeken die deze tag hadden.
        </p>
    </div>
    <ng-template #navOutlet>
        <div [ngbNavOutlet]="nav" class="tab-content"></div>
    </ng-template>
</div>