@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.view {
    padding-top: 0rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;

    >div {
        border: 1px solid $light-200-color;
        padding: 1rem;
    }

    .menu>ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;

        height: 50vh;
        overflow-y: scroll;

        li, li button {
            width: 100%;
            text-align: start;
        }
    }

    .nav-link {
        color: $dark-900-color;

        &.active {
            color: $secondary-color;
        }
    }

    .nav-tabs .nav-link,
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: $primary-color;
        color: $dark-900-color !important;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: $light-300-color;
    }

    .book-row {
        border: 1px solid $light-200-color;
        padding: 1rem;
        height: 20rem;
        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;

        .image-box {
            height: 100%;
            img {
                height: 18rem;
                object-fit: contain;
            }
        }
    }
}