@import '../../../assets/scss/variables';

.footer {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: start;
}

.theme-light {
    .footer{
        background-color: $secondary-700-color;
        color: $light-100-color;
    }
}
.theme-dark {
    .footer{
        background-color: $secondary-900-color;
        color: $light-100-color;
    }
}